body {font-family: Helvetica;
    background-color: black; 
    color: white;
    text-align: center;
}

#quizRes {
    font-size: 40px;
}

.inputGuess {
    font-size: 40px;
    height: 80px;
    width: 100px;
}
