label {
    cursor: pointer;
}

input {
    display: none;
}

.radio-image {
    border: 5px solid transparent;
    height: 200px;
}

input:checked + .radio-image {
    border: 5px solid rgb(236, 28, 243);
}

#message {
    font-size: 20px;
}
#result-img{
    height: 200px;
}